/*          ALERT           */

.alert {
  position: fixed;
  top: 6rem;
  right: 3rem;
  padding: 1rem;
  color: aliceblue;
  border-radius: 10px;
}
.error {
  background-color: crimson;
}
.success {
  background-color: rgb(50, 163, 125);
}
.active_nav {
  background-color: aqua;
  padding: 5px 2px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(114, 231, 211, 0.2);
  padding: 50px;
  border-radius: 10px;
}
.form > * {
  margin-top: 20px;
}

.center_vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center_horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.screen_height {
  height: 90vh;
}
